<div class="container">
    <h1 mat-dialog-title style="font-weight: 500;">{{titulo}}</h1>
    
    <form [formGroup]="nuevoheroeForm">

        <div class="row">
            <div class="col">
                <input type="hidden" formControlName="id">
            </div>
        </div>

        <div class="row">
            <div class="col">
                <mat-form-field appearance="fill" class="example-full-width">
                    <mat-label>Nombre</mat-label>
                    <input matInput formControlName="nombre">
                    <mat-error *ngIf="nuevoheroeForm.get('nombre')?.invalid && 
                                     nuevoheroeForm.get('nombre')?.errors && 
                                     (nuevoheroeForm.get('nombre')?.dirty || nuevoheroeForm.get('nombre')?.touched)">
                        <small class="text-danger"
                               *ngIf="nuevoheroeForm.get('nombre')?.hasError('required')">
                            El campo nombre es requerido
                        </small>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <mat-form-field appearance="fill" class="example-full-width ">
                    <mat-label>Alias</mat-label>
                    <input matInput formControlName="alias" >
                    <mat-error *ngIf="nuevoheroeForm.get('alias')?.invalid && 
                                     nuevoheroeForm.get('alias')?.errors && 
                                     (nuevoheroeForm.get('alias')?.dirty || nuevoheroeForm.get('alias')?.touched)">
                        <small class="text-danger"
                        *ngIf="nuevoheroeForm.get('alias')?.hasError('required')">
                            Campo alias es requerido
                        </small>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <mat-form-field appearance="fill" class="example-full-width">
                    <mat-label>Poder</mat-label>
                    <mat-select formControlName="poderes" name="poderes">
                        <mat-option *ngFor="let poder of poderes" [value]="poder">
                            {{ poder }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        

        <div class="row">
            <div class="col">
                <mat-form-field appearance="fill" class="example-full-width">
                    <mat-label>Habilidad</mat-label>
                    <mat-select formControlName="habilidad" name="habilidad">
                        <mat-option *ngFor="let habilidad of habilidades" [value]="habilidad.id">
                            <div>
                                <span>{{ habilidad.nombre }} - </span>
                                <div class="text-muted">
                                    Nivel: {{ habilidad.nivel }} - Tipo: {{ habilidad.tipo }}
                                </div>
                            </div>
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        
    
        <div class="row">
            <div class="col">
                <mat-form-field appearance="fill" class="example-full-width ">
                    <mat-label>Descripción</mat-label>
                    <textarea matInput matTextareaAutosize matAutosizeMinRows="3" matAutosizeMaxRows="8" formControlName="descripcion" rows="5"></textarea>
                    <mat-error *ngIf="nuevoheroeForm.get('descripcion')?.invalid && 
                    nuevoheroeForm.get('descripcion')?.errors && 
                    (nuevoheroeForm.get('descripcion')?.dirty || nuevoheroeForm.get('descripcion')?.touched)">
                        <small class="text-danger"
                        *ngIf="nuevoheroeForm.get('alias')?.hasError('required')">
                            Campo alias es requerido
                        </small>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <button class="btn btn-secondary m-2"  (click)="retornarListado()">Cancelar</button>
                <button class="btn btn-primary" type="submit" (click)="guardarHeroe()" [disabled]="nuevoheroeForm.invalid">{{tituloBoton}}</button>
            </div>
        </div>
    </form>
</div>
